<div class="row">
    <div class="col-auto mb-3">
        <label for="inputTitle">Title</label>
        <input name="paste[title]" id="inputTitle" type="text" class="form-control" placeholder="optional title...">
    </div>
    {{ extra_header_block }}
</div>