<?php

return [
    'APP_ENV' => 'PROD',
    'database' => [
        'dsn' => 'sqlite:'.__DIR__.'/pastes.db',
        'username' => null,
        'password' => null,
        'options' => null,
    ],
    'max_upload_filesize' => 1024*1024, // in bytes
    'firewall' => [
        'routes' => ['add_file', 'add_image'],
    ],
    'authentication' => [
        'authenticator' => 'basic',
        'username' => 'admin',
        'password_hash' => '$argon2id$v=19$m=65536,t=4,p=1$QBg0BRyZWRcADGDLrXZ6qw$QUKdAZKpWkznIbhRiMrH0jERmu8YlOsc1wsCXDB09KE' // password_hash('password', PASSWORD_ARGON2ID);
    ]
];
