<?php

return [
    'APP_ENV' => 'DEBUG',
    'database' => [
        'dsn' => 'sqlite:'.__DIR__.'/pastes.db',
        'username' => null,
        'password' => null,
        'options' => null,
    ],
    'max_upload_filesize' => 1024*1024,
];
