html, body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  width: 100%;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
}