{#
# This file is part of YeetBin.
# Copyright (C) 2023 Arthur Bols
#
# YeetBin is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# YeetBin is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with YeetBin.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'base.twig' %}

{% block body %}
    <h1 class="mb-4">New Paste</h1>
    <div class="card shadow-sm">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" id="text-tab" data-bs-toggle="tab" data-bs-target="#text-tab-pane"
                            type="button" role="tab">Text
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="file-tab" data-bs-toggle="tab" data-bs-target="#file-tab-pane" type="button" role="tab">
                        File
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="image-tab" data-bs-toggle="tab" data-bs-target="#image-tab-pane" type="button" role="tab">
                        Image
                    </button>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div id="tabContent" class="tab-content">
                <div id="text-tab-pane" class="tab-pane active" role="tabpanel" tabindex="0">
                    {% include 'includes/paste-form-start.twig' with {paste_type: 'text'} %}
                    {% set language_block %}
                        <div class="col-auto">
                            <label for="inputLanguage">Language</label>
                            <select name="paste[language]" id="inputLanguage" class="form-select">
                                <option value="plaintext" selected>Plain text</option>
                                <option value="autodetect">Auto-Detect (caution)</option>
                                {% for key, val in languages %}
                                    <option value="{{ key }}">{{ val }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endset %}
                    {% include 'includes/paste-form-header.twig' with {'extra_header_block': language_block} only %}
                    <div class="mb-3">
                        <label for="inputCode" class="form-label">Your paste</label>
                        <textarea name="paste[content]" class="form-control" id="inputCode" rows="10"></textarea>
                    </div>
                    {% include 'includes/paste-form-end.twig' %}
                </div>
                <div id="file-tab-pane" class="tab-pane" role="tabpanel" tabindex="0">
                    {% include 'includes/paste-form-start.twig' with {paste_type: 'file', extra_form_opt: 'enctype="multipart/form-data"'} %}
                    {% include 'includes/paste-form-header.twig' %}
                    <div class="mb-3">
                        <label for="inputFile" class="form-label">Your paste</label>
                        <input type="hidden" name="MAX_FILE_SIZE" value="{{ max_file_size }}"/>
                        <input class="form-control" type="file" id="inputFile" name="paste[content]">
                    </div>
                    {% include 'includes/paste-form-end.twig' %}
                </div>
                <div id="image-tab-pane" class="tab-pane" role="tabpanel" tabindex="0">
                    {% include 'includes/paste-form-start.twig' with {paste_type: 'image', extra_form_opt: 'enctype="multipart/form-data"'} %}
                    {% include 'includes/paste-form-header.twig' %}
                    <div class="mb-3">
                        <span>Image options</span>
                        <div>
                            <div class="form-check form-check-inline form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="checkStrip" name="paste[strip]" checked>
                                <label class="form-check-label" for="checkStrip">Strip EXIF</label>
                            </div>
                            <div class="form-check form-check-inline form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="checkResize" name="paste[resize]" checked>
                                <label class="form-check-label" for="checkResize">Resize FHD</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <span>Image format</span>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="formatPNG" name="paste[format]" value="PNG" checked>
                                <label class="form-check-label" for="formatPNG">PNG</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="formatJPG" name="paste[format]" value="JPG">
                                <label class="form-check-label" for="formatJPG">JPG</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputImage" class="form-label">Your paste</label>
                        <input type="hidden" name="MAX_FILE_SIZE" value="{{ max_file_size }}"/>
                        <input class="form-control" type="file" id="inputImage" name="paste[content]">
                    </div>
                    {% include 'includes/paste-form-end.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}